body {
    background-color: #0e101c;
    color: #a03bff;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.container-principal {
    width: 600px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    border: solid #a03bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #1a1e33;
}

.caixa-titulo {
    text-align: center;
    margin-bottom: 20px;
}

.caixa-imagem {
    text-align: center;
    margin-bottom: 20px;
}

img {
    border: solid #a03bff;
    border-radius: 5px;
    width: 100%;
    max-width: 320x;
    height: auto;
}

.caixa-autenticacao {
    text-align: center;
}

/* .formulario-login {

} */

.label-formulario {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}

.controle-formulario {
    display: block; 
    width: calc(80% - 22px);
    padding: 12px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #a03bff;
    background-color: #1a1e33;
    color: #a03bff;
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto; 
}

.botao {
    display: inline-block;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    color: #a03bff;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.5s ease;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.botao:disabled {
    display: inline-block;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    color: #2f1349;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.5s ease;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.alternar-senha {
    width: 24px;
    height: auto;
    position: absolute;
    right: 60px;
    top: 70%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    filter: invert(50%) sepia(100%) saturate(1300%) hue-rotate(220deg) brightness(100%) contrast(85%);
}

.botao:hover {
    border-radius: 15px;
    text-shadow: 0 0 12px #a03bff;
    box-shadow: 0 0 12px 1px #a03bff;
    outline: none;
}

.caixa-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.caixa-links a {
    padding: 10px;
}

/* Estilo do modal */

.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none; 
}

.modal-dialog {
    margin: auto;
    width: 80%;
    max-width: 400px;
    background-color: #1a1e33;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: transparent;
    border: none;
}

.modal-header {
    border-bottom: 1px solid #a03bff;
    padding: 10px 0;
    text-align: center;
}

.modal-body {
    color: #a03bff;
}

.close {
    color: #a03bff;
    font-size: 24px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}


/* Estilo do footer */

footer {
    background-color: #1a1e33;
    color: #a03bff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
  }
/* Fim dos estilos da pagina inicial */






/* Estilo da página de clínicas */

.caixa-formulario {
    text-align: center;
}

.botao-tabela {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: solid 2px #a03bff;
    border-radius: 5px;
    color: #a03bff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.5s ease;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.botao-tabela:hover {
    background-color: #a03bff;
    color: white;
}

.container-formulario {
    max-width: 1000px; 
    width: 80%; 
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.rotulo {
    text-align: center;
    margin: 20px 0; 
    font-size: 1.2em; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
}

::placeholder {
    color: #a03bff;
}

small {
    display: block;
    text-align: center;
    margin-top: 5px; 
}

#unidade-federacao::-webkit-scrollbar {
    width: 15px; 
}

#unidade-federacao::-webkit-scrollbar-thumb {
    background-color: #a03bff; 
    border-radius: 2px; 
}

#unidade-federacao::-webkit-scrollbar-thumb:hover {
    background-color: #1a1e33; 
    border: solid 1px #a03bff;
}

.botao-enviar {
    text-align: center;
    margin-bottom: 50px;
}

/* Animação */

.cardes {
    position: relative;
    overflow: hidden;
    border: none;
    margin-bottom: 50px;
}

.cardes span.border-top,
.cardes span.border-bottom {
    position: absolute;
    background: linear-gradient(to right, transparent, #282e44); 
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cardes span.border-left,
.cardes span.border-right {
    position: absolute;
    background: linear-gradient(to bottom, transparent, #1a1e33); 
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cardes span.border-top,
.cardes span.border-bottom {
    width: 100%;
    height: 3px;
}

.cardes span.border-left,
.cardes span.border-right {
    width: 3px;
    height: 100%;
}

.cardes span.border-top {
    top: 0;
    left: 0;
    animation-name: animar1;
}

.cardes span.border-right {
    top: 0;
    right: 0;
    animation-name: animar2;
    animation-delay: 1s;
}

.cardes span.border-bottom {
    bottom: 0;
    right: 0;
    animation-name: animar3;
}

.cardes span.border-left {
    bottom: 0;
    left: 0;
    animation-name: animar4;
    animation-delay: 1s;
}

@keyframes animar1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animar2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes animar3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animar4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* Estilo da tabela */
.container-tabela {
    max-width: 1000px;
    width: 80%;
    margin: 20px auto;
    overflow-x: auto; /* Adicione rolagem horizontal caso a tabela seja muito larga */
    margin-bottom: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: #3e1862;
}

.barra-rolagem {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #a03bff;
}

.barra-rolagem th, .barra-rolagem td {
    padding: 10px;
    border: 1px solid #a03bff;
    text-align: center;
}

.barra-rolagem th {
    background-color: #0e101c;
}

.caixa-busca {
    display: flex; /* Torna o contêiner um flex container */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    align-items: center; /* Alinha os itens verticalmente */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    margin-top: 20px;
}

/* Estilizando o campo de digitar */
#buscar-clinica {
    flex: 1; /* Ocupa o espaço disponível */
}

/* Estilizando o botão */
.caixa-busca button {
    margin-left: 40px; /* Adiciona uma margem à esquerda para separar o botão do campo de digitar */
}

/* Estilizando a lista de resultado */
#resultado-clinica ul li {
    cursor: pointer;
  }

/* Fim dos estilos da pagina de clinicas */






/* Estilo da página de usuarios */

.container-senha {
    position: relative;
    width: calc(80% - 22px);
    margin: 0 auto;
    margin-bottom: 25px;
}

/* Fim dos estilos da pagina de usuarios */

.password-field input {
    padding-right: 48px;
    width: 100%;
    box-sizing: border-box;
}

.password-field {
    width: 75%;
    position: relative;
    display: inline-block;
}

.password-field img {
    top: 24px;
    right: 16px;
}


#formulario-login .password-field {
    width: 100%;
}




/* Estilo da página do menu */

/* Estilo da navebar */
.navbar {
    background-color: #1a1e33;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-links {
    display: flex;
    gap: 20px;
  }

  .navbar-brand {
    color: #a03bff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    margin-right: 20px;
  }

  .nav-link {
    color: #a03bff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }

  .nav-link:hover {
    color: #fff;
  }
  
  .caixa-logout {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 9999;
}

/* Fim dos estilos da pagina do menu */



